footer{
    text-align: right;
    margin-top: 3.5em;
    background-color: #5A7B5F;
    border-radius: 20px 20px 0 0;
    box-shadow: 0 -3px 10px 3px rgba(0, 0, 0, 0.2);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
}

.font-text{
    font-size: 18px;
    padding: 15px;
    letter-spacing: 1px;
    font-family: "Apple Garamond";
    color: #B7DB99;
}


@media (max-width: 992px) {
    footer{
        position: relative;
    }
    .font-text{
        font-size: 15px;
    }
}