* {
    box-sizing: border-box;
}

body{
    font-family: "Apple Garamond";
    background-color: rgba(183, 219, 153, 0.80);
}

.container{
    margin-top: 2em;
    letter-spacing: 1px;
    font-size: 20px;
}

.title{
    margin-bottom: .3em;
    color: #000!important;
    font-size: 70px
}

