<div class="card text-center rounded" style="width: 20rem; background-color: #89AB7C;">
    <div class="text-center" style="padding-top: 15px">
        <img src="../../img/psico1.png" class="card-img-top" alt="..." style="width: 128px;
        height: 128px;
        object-fit: cover;
        border-radius: 50%;
        background-color: #B7DB99;
"></div>
    <div class="card-body">
        <h5 class="card-title" style="font-size: 27px;">Antonio Rivieccio</h5>
        <p class="card-text rounded-pill " style="background-color: #B7DB99; padding: 10px"><b>Indirizzo: </b> Via San Gerardo 82, Napoli
            <br></p>
        <p class="card-text rounded-pill" style="background-color: #B7DB99; padding: 10px"><b>Psicologo Cognitivo-corpontamentale:</b></p>
    </div>
    <ul class="list-group list-group-flush" style="padding-bottom: 15px">
        <li class="list-group-item rounded-pill" style="background-color: #CFC69F; margin-top: 10px; margin-bottom: 10px;">Ansia</li>
        <li class="list-group-item" style="background-color: #CFC69F">Relazioni</li>
        <li class="list-group-item" style="background-color: #CFC69F">Stress</li>
    </ul>
</div>