<nav class="navbar navbar-expand-lg background-color-navbar">
    <div class="container-fluid">
        <a class="navbar-brand font-title" href="../index.html">
            <img class="logo" src="../../img/logo.png" alt="logo">
            Jiminy Cricket
        </a>
        <button class="navbar-toggler menu" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <img style="width: 30px" src="../../img/menu.svg" alt="menu">
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="../student/personalPage.html">
                        <button type="button" class="btn button-navbar-stu">Studente</button>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <button type="button" class="btn button-navbar-psy">Psicologo</button>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>